.buyerDiv {
  background: url("./assets/buyer.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
}

.sellerDiv {
  background: url("./assets/seller.jpeg") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
}

.adminDiv {
  background: url("./assets/admin.jpeg") no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
}

.mainContainer {
  padding-top: 5%;
}

.divHome {
  width: 1200px;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
}

.MuiContainer-root {
  padding: 10px !important;
  /* padding-right: 5px !important; */
}
#navbar {
  background-color: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100vw;
  z-index: 1;
}

#navbar ul li {
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center;
}

#navbar #name {
  float: left;
}
.nav-link {
  color: rgb(102, 2, 2);
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.nav-link:hover {
  color: black;
  font-weight: bold;
  cursor: pointer;
}
#name .nav-link {
  color: darkred;
  font-size: 13pt;
  font-weight: bold;
  float: left;
}
#name .nav-link:hover {
  color: rgb(71, 1, 1);
}

.customBackdrop {
  background-color: #7f7f7f !important;
  opacity: 0.3 !important;
}

.hide {
  display: none;
}

.noMargin {
  margin: 0px !important;
  padding: 0 0 0 0 !important;
  max-width: 50px;
}

.plusButton, .minusButton {
  width: 20px;
  min-width: 0px !important;
}

.quantityText .MuiInputBase-root input{
  width: 50px;
  height: 30px;
  padding: 0 !important;
  text-align: center;
}

.centerAlign {
  text-align: center;
} 

.MuiTypography-body1 .boldFont{
  font-weight: bold !important;
}

/* STRIPE CSS */
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}


